@tailwind base;
@tailwind components;
@tailwind utilities;



.gradient{
  background: linear-gradient(104deg, rgba(94, 174, 255, 0.97) 9.33%, #B573F8 68.26%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

