@tailwind base;
@tailwind components;
@tailwind utilities;




/* styles.css */
.custom-primary {
  background-color: rgba(116, 80, 128, 0.20);
}


@layer utilities {
  .gradient-drop-shadow {
    filter: drop-shadow(0px 4px 8px var(--shadow-color));
    animation: colorChange 5s infinite alternate;
  }

  @keyframes colorChange {
    0% {
      --shadow-color: rgba(255, 121, 210, 0.288);
    }

    50% {
      --shadow-color: rgba(0, 221, 255, 0.1);
    }

    100% {
      --shadow-color: rgba(212, 0, 255, 0.1);
    }
  }
}